*.docstates
*.cachefile
*.suo
*.cd
*.user
*.ncb
*.pdb
*.ilk
*.sdf
*.pam
*.vspscc
*.trace
*.sln
*.csproj
Thumbs.db
Work/
Build/
Library/
Temp/
_output/
_builds/
_logs/
AssetStoreTools/
AssetStoreTools.meta