# OSX/Linux (https://github.com/travis-ci-tester/toolchain-table)

branches:
  only:
    - master

language:
  - cpp

matrix:
  include:
    - os: osx
      env: TOOLCHAIN=osx-10-9 CONFIG=Release ARTIFACT=.bintray.osx.json ARCHS="i386;x86_64"
    - os: osx
      env: TOOLCHAIN=ios-nocodesign CONFIG=Release EXTRA="--ios-multiarch" ARTIFACT=.bintray.ios8.json
    - os: osx
      env: TOOLCHAIN=android-ndk-r10e-api-21-armeabi-v7a CONFIG=Release ARTIFACT=.bintray.ndk.armv7a.json

install:
  # Info about OS
  - uname -a

  # Install Python 3
  - brew install python3

  # Install Python package 'requests'
  - pip3 install requests

  # Install latest Polly toolchains and scripts
  - wget https://github.com/ruslo/polly/archive/master.zip
  - unzip master.zip
  - POLLY_ROOT="`pwd`/polly-master"

  - export PATH="${POLLY_ROOT}/bin:${PATH}"
  # Workaround because Polly doesn't use the env var if toolchain specifies "nocodesign"
  - if [[ "${ENABLE_BITCODE}" == "YES" ]]; then echo -e "\nENABLE_BITCODE = YES" >> ${POLLY_ROOT}/scripts/NoCodeSign.xcconfig; fi

  # Install dependencies (CMake, Android NDK)
  - install-ci-dependencies.py

  # Tune locations
  - export PATH="`pwd`/_ci/cmake/bin:${PATH}"

  # Installed if toolchain is Android (otherwise directory doesn't exist)
  - export ANDROID_NDK_r10e="`pwd`/_ci/android-ndk-r10e"

script:
  - build.py --toolchain ${TOOLCHAIN} --config ${CONFIG} --verbose ${EXTRA}

deploy:
  provider: bintray
  file: ${ARTIFACT}
  user: speps
  key:
    secure: DG49j2AIMm6ga/lM8XaZ0QGXrciG2t5FQJRtvFY3ujMrJvcu6q3WO2Bnmzvh/RiiOpXAZ7MLEXaJKS0/iE7RshE58lAOS7D3lzuDBQphhkem/tpM9tRc8/3VL07dwB6h2KrCs1u0WEC/qJdE5SyF2eu/43dkng+ctcYUSKFff0yL+wDRTNuo/C+xA2buoNeUN+2R/xJrfEBDX3pxQ+UjBYENbCTIvamJ5N1nWMXqCEP5j6x2DmT/x0WTGJMzQ2amNVsuD6usL/WLJb4BnhnaQhsMuFnLHxQZSzDNsTiV5yl52xD0ITtsIUOgGW5zjR0h9Nth1iM6JeeUfDbiYjJcNQpYQD28LnUk2sTgxYF/ey1JvN8buKUkVcPxgneLbJdKGo+UgpIUtYn8kUAvcCUjTjc1zrqKT+cpuaSkb6WI9U3qqMZU3OjORnBO4HVFxBFAP6BL4P2Sc08hcw8f568xFIWx1maA0+/go6hBa1WKe3PYbUcjh2LGIhEgTkLiTH//xWaxHbUkcWSZLelJyy8FfbgNtMbWIGFk4JSq/owO5cem64bBpZrO3vuO3ewyDrPfn1QPSLo7kKjDvs5nVI0Z7IMynFyzv6KcKSwGmLPHhySj/Cv33vey+Ua/chwHx/Gl8w7W+acl/Wnq7ZAaAnvW79mGovqJcmOd/TguryOqUp8=
